
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-table {
  margin: 20px 0;
  width: 100%;
}

.header-cell {
  font-weight: bold;
}

.mat-raised-button {
  margin-right: 8px;
}
